<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    <a style="display:scroll;position:fixed;bottom:80px; right:30px;" rel="follow"
    href="#" style="font-size:2.0em"><img src="/images/top-button.png"></a>

    <a style="display:scroll;position:fixed;bottom:40px; right:30px;" rel="follow"
    href="#scrollbottom" style="font-size:2.0em"><img src="/images/bottom-button.png"></a>

    <div id="scrollbottom"></div>

    {% include analytics.html %}
  </body>
</html>

